.marginup{
    margin-top: 20px;
}


/* .first-color { 
	background: #e0ffcd; 
}
	
.second-color { 
	background: #fdffcd; 
}

.third-color { 
	background: #ffebbb; 
}

.fourth-color { 
	background: #ffcab0; 
} */




/* 
.first-color { 
	background: #f8b595; 
}
	
.second-color { 
	background: #f67280; 
}

.third-color { 
	background: #c06c84; 
}

.fourth-color { 
	background: #6c5b7c;   }





    .first-color { 
	background: #feffdf; 
}
	
.second-color { 
	background: #ffe79a; 
}

.third-color { 
	background: #ffa952; 
}

.fourth-color { 
	background: #ef5a5a;  */