/* https://www.shecodes.io/palettes/1602#palette */

.marginup{
    margin-top: 20px;
}

body{
	background-color: #352961;
}

.first-color { 
	background: #352961; 
}
	
.second-color { 
	background: #774181; 
}

.third-color { 
	background: #e6b2c6; 
}

.fourth-color { 
	background: #f6e5e5; 
}

/* .first-color { 
	background: #e0ffcd; 
}
	
.second-color { 
	background: #fdffcd; 
}

.third-color { 
	background: #ffebbb; 
}

.fourth-color { 
	background: #ffcab0; 
} */




/* 
.first-color { 
	background: #f8b595; 
}
	
.second-color { 
	background: #f67280; 
}

.third-color { 
	background: #c06c84; 
}

.fourth-color { 
	background: #6c5b7c;   }





    .first-color { 
	background: #feffdf; 
}
	
.second-color { 
	background: #ffe79a; 
}

.third-color { 
	background: #ffa952; 
}

.fourth-color { 
	background: #ef5a5a;  */